#redirect-btn{
    background: rgba(254, 135, 57);
    border-radius: 10px;
    color: #ffff;
    text-align: center;
    margin: auto;
    font-size: large;
}
*{
    direction: rtl;
    font-family: mikhak;
}
@font-face {
    font-family: mikhak;
    src: url(../style/font/font2.woff2) format("woff2");
}
.flex_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.w1{
    width: 25%;
    flex: 0 0 auto;
    border-radius: 30px;
    box-shadow: 0 20px 30px rgba(137, 113, 221, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: bulr(70%);
    padding-right: 10px;
}
.w2{
    width: 65%;
    flex: 0 0 auto;
    box-shadow: 0 20px 30px rgba(137, 113, 221, 0.7);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: bulr(70%);
    padding-right: 10px;
}
th, td {
    text-align: center;
    padding: 10px;
    
    border:1px solid blue;
    border-radius: 20px;
}
table {
    text-align: center;
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}
#now{
    display: inline-block;
    text-align: center;
}
.update_time{
    text-align: left; 
    display: inline-block;
    background: rgba(254, 135, 57);
    border-radius: 10px;
    color: #ffff;
    font-size: medium;
    font-family: mikhak;
    width: auto;
    padding: 5px;
}
.gapPPP{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 65px;
}
.deleteFilter{
    text-align: center;
    background: rgba(254, 135, 57);
    border-radius: 10px;
    color: #ffff;
    font-size: 15px;
}
.FlyList{
    background-image: url(../style/img/Pheader.png);
    background-size: cover;
    padding: 150px;
    font-size: large;
    color: white;
}
.filterO{
    text-align: center;
    padding: 10px;
    border-collapse: collapse;
}
.back{
    background-image: url(../style/img/personnel.png);
    background-size: cover;
    padding: 150px;
    width: 1610px;
    height: 650px;
}