*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f0f3f7;
    direction: rtl;
    font-family: Mikhak;
    

}


/* main panel style */

.panel{
    width: 60%;
    /* height: 50vh; */
    position: absolute;
    left: 10%;
    top: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,.14901960784313725); */
    padding: 20px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
}
.panel-header{
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    background-color: #ffffff;
}

.form-header-container
{
    padding-bottom: 10px;
    background-color: #ffffff;
}
.panel-body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: white;
    column-gap: 20px;
    justify-content:space-between;
    float: right;
}

h2.panel-header-title{
    background-color:deepskyblue ;
    border-radius: 5px;
    padding: 5px;
}
.show{
    display: block;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
    
}
.wrap1{
    flex : 0 0 auto;
    
}

.input{
    
    
    border: none;
    width: 300px;
    height: 100%;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;}

.input-container{

    margin: 5px;
    background-color: white;
}

.input-title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    background-color: #ffffff;
    
}

.input:focus{
    border: none;
}

.fa{
    background-color: #ffffff;
}

.cp-btn:hover{
    cursor: pointer;
}
.wrap-input{
    background-color: white;
}
.submit-btn{
    background-color: deepskyblue;
    border-radius: 5px;
    padding: 5px 10px;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}
